
h1{
    font-size: 50px;
}
section{
  display:flex;
}
.half-width{
    width:50%;
    padding-left: 30%;
}
.half-width img{
    width: 50%;
    padding-left: 40%;
}
.link button{
     text-decoration: none;
    background-image :"red";
    padding:10px 40px;
    border-radius:10%;
}
.top-banner{
    background-image: url(images/top-banner.png);
}
section{
    display:flex;
    margin-bottom: 100%;
}
.dream-big{
    background-color: brown;
    background-position: center;
    background-image: url(/img/FB_IMG_1641429654572.jpg);
    background-repeat: no-repeat;
}